* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
}
body {
  height: 100vh;
  display: flex;

}
#background {
    
  background: url(images/memory_game_background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}

 #title {
  color: rgb(255, 10, 247);
  text-align: center;
  font-size: 32px;
  margin-top: 3%;
  max-width: fit-content;
  margin-left: 35%;
} 
#select_subject {
  color: rgb(255, 10, 247);
  text-align: center;
  font-size: 28px;
  margin-top: 3%;
  max-width: fit-content;
  margin-left: 40%;
  border-radius: 50px;

}
#select_level{
    color: rgb(255, 10, 247);
    text-align: center;
    font-size: 28px;
    margin-top: 3%;
    max-width: fit-content;
    margin-left: 39.5%;
    border-radius: 50px;

  }

#menu  {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(255, 10, 247);
    background-color: rgba(255, 255, 255, 0);
    padding: 8px;
    border-radius: 50px;
    border: none;
    font-size: 30px;
    cursor: pointer;
} 
#tictactoe_btn {
  position: absolute;
  top: 10px;
  left: 85%;
  color:  rgb(10, 255, 67);
  background-color: rgba(255, 255, 255, 0);
  padding: 8px;
  border-radius: 50px;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

#spongebob_btn {
  color: rgb(239, 255, 10);
  text-align: center;
  font-size: 30px;
  max-width: fit-content;
  margin-top: 3%;
  margin-left: 45%;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  border-radius: 50px;
  transition: 0.5s;
}
#spongebob_btn_hard, #spongebob_btn_easy{
  color: rgb(239, 255, 10);
  text-align: center;
  font-size: 35px;
  max-width: fit-content;
  margin-top: 3%;
  margin-left: 48%;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  border-radius: 50px;
  transition: 0.5s;
}

#shoes_btn {
  color: rgb(14, 209, 44);
  text-align: center;
  font-size: 30px;
  max-width: fit-content;
  margin-top: 3%;
  margin-left: 47%;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  border-radius: 50px;
  transition: 0.5s;
}
#shoes_btn_hard , #shoes_btn_easy{
  color: rgb(14, 209, 44);
  text-align: center;
  font-size: 35px;
  max-width: fit-content;
  margin-top: 3%;
  margin-left: 48%;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  border-radius: 50px;
  transition: 0.5s;
}
#cars_btn{
  color: rgb(10, 255, 255);
  text-align: center;
  font-size: 30px;
  max-width: fit-content;
  margin-top: 3%;
  margin-left: 45.8%;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  border-radius: 50px;
  transition: 0.5s;
}
#cars_btn_hard , #cars_btn_easy {
  color: rgb(10, 255, 255);
  text-align: center;
  font-size: 35px;
  max-width: fit-content;
  margin-top: 3%;
  margin-left: 48%;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  border-radius: 50px;
  transition: 0.5s;
}
#random_btn {
  color: rgb(255, 0, 0);
  text-align: center;
  font-size: 30px;
  max-width: fit-content;
  margin-top: 3%;
  margin-left: 46.5%;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  border-radius: 50px;
  transition: 0.5s;
}

#shoes_btn:hover,#shoes_btn_hard:hover,#shoes_btn_easy:hover, #spongebob_btn:hover, #cars_btn:hover,#cars_btn_easy:hover ,#cars_btn_hard:hover , #menu:hover, #spongebob_btn_easy:hover , #spongebob_btn_hard:hover , #random_btn:hover , #tictactoe_btn:hover   {

  box-shadow: 0 10px 50px #afe0f5;
}

#counter {
  color: rgb(255, 10, 247);
  text-align: center;
  font-size: 32px;
  max-width: fit-content;
  margin-left: 45%;
  
}
#pattern4 {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 5px;
    max-width: 300px;
    margin-left: 38%;
    margin-top: -1%;
    perspective: 1000px;
}
#pattern6 {
  display: grid;
  grid-template-columns: repeat(6, 70px);
  grid-template-rows: repeat(6, 70px);
  grid-gap: 5px;
  max-width: 300px;
  margin-top: -45px;
  margin-left: 37%;
  perspective: 1000px;
}


.tile1 , .tile2 {
  width: repeat(4, 100px);
  height: repeat(4 , 100px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  cursor: pointer;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  backface-visibility: hidden;
  
}

.tile1:active , .tile2:active{
  transform: scale(0.97);
  transition: transform .2s;
}
.tile1.flip  {
  transform: rotateY(180deg);
}
.tile2.flip {
  transform: rotateY(180deg);
}
.front-face {
  transform: rotateY(180deg);

}

#reset_btn {
  background-color: rgb(255, 10, 247);
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  margin-left: 49%;
  margin-top: 3px;
  cursor: pointer;
  transition: transform .5s;
  transform: scale(1);
}
#reset:active {
  transform: scale(0.97);
  transition: transform .2s;

}

.mr {
  margin-left: 90%;
  margin-top: 13%;
  border-radius: 50px;
  box-shadow: 0 10px 30px #afe0f5;
}