* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.background {
    
    background: url(images/menu_back.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
	position: fixed;
}


#title {
    color: rgb(10, 255, 67);
    text-align: center;
    font-size: 40px;
    margin-top: 8%;

}
#memory_game_btn {
    position: absolute;
    top: 10px;
    left: 85%;
    color:  rgb(10, 255, 67);
    background-color: rgba(255, 255, 255, 0);
    padding: 8px;
    border-radius: 50px;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }

@-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s ;
    -moz-animation: rotating 2s ;
    -ms-animation: rotating 2s ;
    -o-animation: rotating 2s ;
    animation: rotating 2s ;
  }
  

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    background-color: #0400ff1e;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

#pattern1{
    display:none;
}

.tile {
    border: 2px solid rgb(10, 255, 67);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #09C372;
}
.playerO{
    color: rgb(149, 0, 255);
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset {
    background-color: #FF3860;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

#btn_play_vs_player {
    background-color: #09C372;
    padding: 8px;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 5%;
    cursor: pointer;
    text-align: center;
}

#btn_play_vs_bot {
    background-color: #09C372;
    padding: 8px;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 5%;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.score{
    background-color: rgb(10, 255, 67);
    padding: 8px;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    margin-right: 80%;
    margin-top: -10%;

}
 .menu-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(10, 255, 67);
    padding: 8px;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;

} 
.mr{
    position: relative;
    position:absolute;
    top: 90%;
    right: 5%;
}
 